---
---

@import "{{ site.theme }}";

header {
    min-height: 48px;
}

#banner {
    top: 87px;

    .social {
      position: absolute;
      height: 36px;
      width: 36px;
      top: 7px;
      display: block;
      opacity: 0.15;

      &:hover {
        opacity: 0.3;
      }

      &.git {
        background: url(../images/git-logo.png);
        right: 8px;
      }

      &.instagram {
        background: url(../images/instagram-logo.png);
        right: 50px;
      }

      &.twitter {
        background: url(../images/twitter-logo.png);
        right: 92px;
      }

      &.px500 {
        background: url(../images/500px-logo.png);
        right: 134px;
      }
    }
}

section {
  h2 {
    font-weight: normal;
  }

  p.article.route {
    color: #444;
  }
}
